body
{
background-image:url('background.png');
background-size: cover;
cursor:url(nyancat.cur),auto;
}
#title
{
margin:70px;
}
h1
{
font-size:50px;
text-align:center;
}
#buttons
{
margin:auto;
width:1000px;
padding: 30px 0;
text-align: center;
height:400px;
}
.icon
{
width:200px;
height:200px;
}
.group
{
margin:20px;
float:left;
}
.group:hover
{ 
border: 2px solid grey;
}
.table
{
margin:auto;
text-align:left;
}
#reg
{
background-color:rgba(0,0,0,0.2);
margin:auto;
width:300px;
padding: 30px;
text-align: left;
height:300px;
line-height: 200%
}
#content
{
background-color:rgba(0,0,0,0.2);
margin:auto;
width:300px;
padding: 30px;
text-align: left;
height:300px;
line-height: 200%
}
#self
{
background-color:rgba(0,0,0,0.2);
margin:auto;
width:600px;
padding: 30px;
text-align: left;
height:1000px;
}
#reg_complete
{
    background-color:rgba(0,0,0,0.2);
    margin:auto;
    width:300px;
    padding: 30px;
    text-align: left;
    height:600px;
}
#img1
{
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 1;
}
#img2
{
    position: absolute;
    left: 150px;
    top: 150px;
    z-index: 2;
}
#img3
{
    position: absolute;
    left: 200px;
    top: 200px;
    z-index: 3;
}
#img4
{
    position: absolute;
    left: 250px;
    top: 250px;
    z-index: 4;
}
#img5
{
    position: absolute;
    left: 300px;
    top: 300px;
    z-index: 5;
}
.bottom
{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
#special_link:hover
{
    background-color:rgb(32, 185, 78);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-decoration: underline;
}
a:hover
{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-decoration: underline;
}
table
{
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
}
td:hover
{
    background-color: rgb(23, 122, 214);
}
ol
{
    list-style-type: lower-greek;
}
ul
{
    list-style-type: circle;
}
